body{
    background: linear-gradient(to top, #072731, #0b4249, #236E88);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}


#logo_disney{
    width: 170px;
    position: absolute;
    top: 100px;
    left: 200px;
    margin: 20px;
    
}

#projeto{
    position: absolute;
    top: 100px;
    right: 300px;
    margin: 30px;
    font-size: x-large;
    color: azure;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.839);

}

h1{
    font-size: xxx-large;
    color: azure;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.839);
    position: absolute;
    top: 250px;
    left: 42%;
}

footer{
    position: relative;
}