html {
    background-color: rgb(195, 177, 225);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

header {
    padding: 6px;
    display: flex;
    align-items: center;
}

/* navigator {
    gap: 10px;
    text-align: center;
    font-size: 300px;
    border: 50px;
    padding: 10px;
} */

.nav-link{
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding:20px;
    border-radius: 40px;
    border: 2px solid  #B95CF4;
    background-color: #B95CF4;
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.game-area {
    width: 1300px;
    height: 700px;
    background-color:  #B95CF4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color:  #B95CF4;
    padding: 10px;
    text-align: center;
}

#resetBtn{
    color: white;
    background-color:#B95CF4;
}

#nextLevelBtn{
    color: white;
    background-color:#B95CF4;
}

/**************************************************************************************/

html {
    background-color: rgb(195, 177, 225);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #B95CF4;
}

#title {
    height: 10%;
    width: 10%;
}

#board {
    width: 1024px;
    height: 536px;
    background-color: #B95CF4;
    border: 10px solid #B95CF4;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 339px; /*(tamanho original/3)-2 EM PIXELS*/
    height: 177px;
    border: 1px solid #B95CF4;
}

button {
    border-radius: 75%;
    background-color: #B95CF4;
    border-width: 0px;
}