html {
    background-color: #FABC3F;
} /* ok */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white; /*tirar depois*/
}

header {
    padding: 6px;
    display: flex;
    align-items: center;
} /* ok */

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* width: 60%; */
} /* ok */

/*
@media (max-width: 1280px) {
    .content-area {
        width: 100%;
    }
} 
*/

.controls {
    display: flex;
    gap: 10px;
} /* ok */

footer {
    background-color:  #E85C0D;
    padding: 5px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
} /* ok */

/**************************************************************************************/

#board {
    width: 45.2rem; /*tamanho aleatório*/
    height: 33.75rem; /*tamanho aleatório*/
    background-color: #E85C0D;
    border: 10px solid #E85C0D;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 11.125rem; /*(tamanho original/3)-2 EM PIXELS*/
    height: 8.313rem;
    border: 1px solid #E85C0D;
}

button {
    color: white;
    padding: 1.5rem 4rem; 
    font-size: 2.5rem; 
    border-radius: 1rem;
    border-width: 0;
    background-color: #E85C0D;
    cursor: pointer;
}